
<section class="best-section">

 	<div class="row no-gutter">
      
      <div class="col-md-6">
        
        <div class="best-collection-section">
          
          
                  {% if section.settings.section-best-heading != blank %}
			<h2>{{ section.settings.section-best-heading }}</h2>
		{% endif %}
          
          {% if section.settings.section-best-para != blank %}
             <p>{{ section.settings.section-best-para }}</p> 
          {% endif %}
          
          
          
<!--           Collection Starts Here -->
<ul class="best-collection-products">
{% for product in collections.all.products limit: 8 %}
    <li>
      <div class="product-overlay">
        <ul>
          <li>            
            <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                                      
                  class="add-cart">
                  <span data-add-to-cart-text>
					<i class="fas fa-cart-plus"></i>
                  </span>
                </button></li>
          <li><a href="{{ product.url }}"><i class="fas fa-heart"></i></a></li>
        </ul>
      </div>
      <div class="pro-col">
      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
      <a class="shop-now" href="{{ product.url }}">{{ product.title | escape  }}</a>      
        <h6>$ {{ product.price_min }}</h6>
      </div> 
    </li> 
{% endfor %}
          </ul>
          
<!--          Collection Ends Here -->
          
          
        </div>
        
        
      </div>
      
            
      <div class="col-md-6">
        
        <div class="clip-bg">
          
          <div class="clip-content">
            
            
            
        {% if section.settings.section-clip-heading != blank %}
			<h5>{{ section.settings.section-clip-heading }}</h5>
		{% endif %}
            
                    
        {% if section.settings.section-clip-two != blank %}
			<h5>{{ section.settings.section-clip-two }}</h5>
		{% endif %}
            
            
          </div>
          
        </div>
        
      </div>
      </div>
      

  
</section>



{% schema %}
  {
    "name": "Best Collection Section",
    "settings": [
{
"id": "section-best-heading",
"type": "text",
"label": "Main Banner Heading"
},

{
"id": "section-best-para",
"type": "textarea",
"label": "Banner Para"
},

{
"id": "section-clip-heading",
"type": "text",
"label": "Main Banner Heading"
},

{
"id": "section-clip-two",
"type": "text",
"label": "Sub Banner Heading"
}

              ],
"presets": [
{
"name": "Best Collection Section",
"category": "Home LAYOUT"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}